@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="~/css/ForgotPassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="form-container forgot-pw">
            <form id="forgotPasswordForm">
                <p>Quên Mật Khẩu</p>
                <span>Nhập địa chỉ Email của bạn để nhận code lấy lại mật khẩu!</span>
                <input type="email" placeholder="Email" class="sign-in-email">
                <a href="#" class="send-code-btn">
                    <a href="#" class="send-code-btn">
                        <button>Gửi Mã</button>
                    </a>
                </a>
            </form>
        </div>
    </div> 
</body>
</html>