@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Lại Mật Khẩu</title>
    <link rel="stylesheet" href="~/css/ResetPassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="form-container reset-pw">
            <form>
                <p>Đặt Lại Mật Khẩu</p>
                <input type="password" placeholder="Mật khẩu mới" class="new-pw">
                <a href="#" class="send-code-btn">
                    <button>Xác Nhận</button>
                </a>
            </form>
        </div>
    </div>
</body>

</html>