@model TICKETBOX.Models.Tables.User

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập - Fast Ticket</title>
    <link rel="stylesheet" href="~/css/SignIn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="form-container sign-in">
            <form asp-controller="Account" asp-action="SignIn" method="post" id="sign-in-form">
                <p class="label">Đăng Nhập</p>
                <div class="sign-in-social-icon">
                    <a asp-controller="Account" asp-action="SignInWithGoogle" class="sign-in-icon"><i
                            class="fa-brands fa-google-plus-g"></i></a>
                </div>
                <span class="or">hoặc đăng nhập với email của bạn</span>
                <input type="username" placeholder="Tên đăng nhập" asp-for="UserName" id="username">
                <input type="password" placeholder="Mật khẩu" asp-for="UserPassword" id="password">
                <div>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger" style="color: #A1331C;">
                            @ViewData.ModelState.Values.SelectMany(v => v.Errors).First().ErrorMessage
                        </div>
                    }
                </div>
                <a asp-controller="Account" asp-action="ForgotPassword" class="forget-acc">Quên mật khẩu?</a>
                <button type="submit">Đăng nhập</button>
                <span>Bạn chưa có tài khoản?
                    <a asp-controller="Account" asp-action="SignUp" class="sign-up-link">
                        Đăng Ký
                    </a>
                </span>
            </form>
        </div>
    </div>
</body>

</html>