@{
    ViewData["Title"] = "Chọn Ghế";
}

<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/SelectSeat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="seat-container">
        <div class="screen">
            <p class="screen-label">Màn hình</p>
            <div class="seats">
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">g10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j10</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k10</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">g9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j9</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k9</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-booked">g8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j8</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k8</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-booked">g7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j7</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k7</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">g6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j6</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k6</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip" id="seatClick">g5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j5</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k5</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c14</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">g4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j4</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k4</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">g3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j3</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k3</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">g2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j2</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k2</button>
                    </div>
                </div>
                <div class="col">
                    <div class="seat">
                        <button class="seat-btn">a1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">b1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn">c1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">d1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">e1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">f1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">g1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">h1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">i1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-vip">j1</button>
                    </div>
                    <div class="seat">
                        <button class="seat-btn-sb">k1</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-info">
                <p class="cinema-name">Fast Ticket <span>Phạm Ngọc Thạch</span></p>
                <div class="cinema-info">
                    <p class="room">Phòng chiếu 1</p>
                    <p class="date">11-09-24</p>
                    <p class="hour">09:25~11:03</p>
                </div>
                <p class="movie-name">200% wolf: sói bảnh</p>
                <div class="price">
                    <div class="ticket-price">
                        <p class="seat-numb">1 x ghế I5</p>
                        <p class="pnb-price">0 x </p>
                    </div>
                    <div class="ticket-price">
                        <p class="seat-price">70000VND</p>
                        <p class="pnb-numb">0</p>

                    </div>
                </div>
                <div class="book">
                    <a asp-controller="Ticket" asp-action="SelectPnB" class="book-ticket-link">
                        <button class="book-ticket-btn">Đặt vé</button>
                    </a>
                </div>
            </div>
            <div class="seat-info">
                <div class="row">
                    <button class="booked"></button><span class="seat-status">Đã đặt</span>
                    <button class="normal"></button><span class="seat-status">Thường</span>
                    <button class="vip"></button><span class="seat-status">VIP</span>
                </div>
                <div class="row">
                    <button class="booking"></button><span class="seat-status">Đang chọn</span>
                    <button class="sb"></button><span class="seat-status">Sweetbox</span>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/SelectSeat.js"></script>
</body>

</html>