@{
    ViewData["Title"] = "Vé";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="~/css/Ticket.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <div class="ticket-container">
            <div class="ticket-info">
                <p class="ticket-title">200% WOLF: SÓI BẢNH (K)
                </p>
                <p class="ticket-detail">09/11/2024</p>
                <p class="ticket-detail">09:25 ~ 11:03</p>
                <p class="ticket-detail">Fast Ticket Phạm Ngọc Thạch</p>
                <p class="ticket-detail">Ghế I5</p>
                <p class="ticket-detail">Phòng chiếu 1</p>
                <p class="ticket-detail">Bắp nước: Bắp nước OL AQUA COMBO</p>
                <p class="sum">Tổng Tiền: 150.100 VND</p>
            </div>
            <div class="movie-image">
                <img src="" class="movie-img">
            </div>
        </div>

</body>

</html>