@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #0D111A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #EFC26D;
    border-radius: 30px;
    width: 768px;
    max-width: 100%;
    min-height: 350px;
}

.container p{
    font-size: 35px;
    font-weight: bolder;
    color:#A1331C;
    padding-bottom: 10px;
}

.container span{
    font-size: 15px;
    color: black;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container button{
    background-color: #A1331C;
    color: #EFC26D;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button:hover{
    background-color: #B82828;
    color: #eee;
}

.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.pop-up{
    position: fixed;
    background-color:#0D111A;
    z-index: 1;
    width: 500px;
    height: 300px;
    border-radius: 30px;

}

.pop-up .pop-up-content{
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pop-up .pop-up-content .close{
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #A1331C ;
    font-weight: bolder;
}
.pop-up .pop-up-content .close:hover{
    color: #EFC26D;
}

.pop-up .pop-up-content .pop-up-tiltle{
    color: #EFC26D;
    font-size: 20.77px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;
}

.pop-up .pop-up-content .pop-up-info{
    color: #EFC26D;
    font-size: 13.34px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.pop-up .pop-up-content input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 40px;
    outline: none;
}

.pop-up .pop-up-footer .send-code-btn{
    text-align: center;
    color:#EFC26D;
    background-color: #A1331C;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 17.79px;
    font-weight: bold;
    text-transform: uppercase;
}

.pop-up .pop-up-footer .send-code-btn:hover{
    color: white;
}
