@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #0D111A;
    height: 100vh;
    width: 100%;
}
 .user-profile-container{
    display: flex;
    color: #EFC26D;
 }

.user-profile-container .user-select{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 10px;
 }

.general-info-link{
    margin-right: 20px;
    margin-left: 20px;

 }

 .general-info-link .general-info-btn{
    color: #EFC26D;
    background-color: #A1331C;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bolder;
    border: 1px solid #3a3a3a;
 }

.detail-info-btn{
    color: #A1331C;
    background-color: #EFC26D;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bolder;
    border: 1px solid #3a3a3a;
 }

.payment-history-btn{
    color: #A1331C;
    background-color: #EFC26D;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bolder;
    border: 1px solid #3a3a3a;
 }

.detail-info-btn:hover{
    color: #EFC26D;
    background-color: #A1331C;
 }

.payment-history-btn:hover{
    color: #EFC26D;
    background-color: #A1331C;
 }

.user-profile{
    margin: 10px 20px;
    width: 70%;
    padding: 10px;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

.big-avatar-image{
    padding: 60px;
 }

.big-avatar-image .big-avatar{
 border-radius: 50%;
}

.user-profile .account-info-label{
    font-size: 20px;
    font-weight: bold;
}

.account-info{
    font-size: 18px;
}

.change-link .change-btn{
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid transparent;
    font-weight: bold;
    color: #A1331C;
    background-color: #EFC26D;
    border-radius: 8px;
}

.change-link .change-btn:hover{
    color: #EFC26D;
    background-color: #A1331C;
}
